/* global styling */

body {
    margin: 0px;
    padding: 0px;
    padding-bottom: 60px;
}

footer {
    height: 60px;
}

#footer-links a {
    font-size: 1.1em;
    padding: 5px;
}

@media only screen and (min-width: 992px) {
    #footer-links {
        display: none;
    }

    footer {
        height: 25px;
    }
}

@media only screen and (min-height: 600px) {
    #home-buttons>a {
        font-size: 1.2em;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav-link,
button,
.my-button {
    font-family: 'Josefin Sans', sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px 0px #1D261E;
}

p,
input,
label,
.form-helper,
textarea,
li,
.pagination-page-info {
    font-family: 'Raleway', sans-serif;
}

.navbar-brand h1 {
    margin-bottom: 0;
}

.nav-link {
    text-transform: uppercase;
}

.card-text {
    margin-bottom: 8px;
}

.dark-green-back {
    background-color: #008100;
    color: #F0EBEF;
}

.dark-green-letters {
    color: #008100;
    font-weight: 700;
}

.light-green-back {
    background-color: #87B679;
    color: #1D261E;
}

.light-back {
    background-color: #F0EBEF;
    color: #1D261E;
}

a {
    color: inherit;
}

a:hover {
    color: inherit
}

/* anchor effects on larger screens only */
@media only screen and (min-width: 992px) {
    .scale {
        transition: transform 0.4s;
    }
    
    .scale:hover {
        transform: scale(1.1);
    }
}

.card {
    padding: 20px;
}

.my-button {
    background: #AAFFB4;
    color: #1D261E;
}

.dark-button {
    background: #008100;
    color: #F0EBEF;
}

/* overriding materialize for bootstrap input default outlines */
.form-outline .form-control,
.form-outline.form-white .form-control {
    min-height: auto;
    padding: .33em .75em;
    border: 0;
    background: whitesmoke;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.form-outline .form-control~.form-notch div {
    pointer-events: none;
    border: 1px solid #008100;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
}

.form-outline .form-control:focus~.form-label {
    color: #008100;
}

.form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-top: .125rem solid #008100;
    border-bottom: .125rem solid #008100;
    border-left: .125rem solid #008100;
}

.form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-bottom: .125rem solid;
    border-color: #008100;
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-top: .125rem solid #008100;
    border-bottom: .125rem solid #008100;
    border-right: .125rem solid #008100;
}

.flashes h3 {
    line-height: 2;
}

.rating>i {
    font-size: 1.5em;
    color: gold;
}

.veggie-info {
    height: 50vh;
}

/* home hero section */

.hero {
    min-height: 100%;
    min-height: 100vh;
    position: relative;
}

.welcome {
    font-weight: 700;
}

.home-veg {
    height: 50px;
}

@media only screen and (min-width: 768px) {
    .home-veg {
        height: 75px;
    }
}

/* bouncing 'next section button' */
/* code copied and adapted from
   https://forum.squarespace.com/topic/62680-how-can-i-create-a-bouncing-down-arrow/ */

.bounce {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-top: -25px;
    height: 30px;
    width: 30px;
    -webkit-animation: bounce 1.5s infinite;
    -moz-animation: bounce 1.5s infinite;
    -o-animation: bounce 1.5s infinite;
    animation: bounce 1.5s infinite;
}

.bounce i {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
}

@media only screen and (min-width: 992px) {

    .bounce i {
        font-size: 2em;
    }

    @-webkit-keyframes bounce {
        0% {
            bottom: 0px;
        }

        50% {
            bottom: 15px;
        }

        100% {
            bottom: 30;
        }
    }

    @-moz-keyframes bounce {
        0% {
            bottom: 0px;
        }

        50% {
            bottom: 15px;
        }

        100% {
            bottom: 30;
        }
    }

    @-o-keyframes bounce {
        0% {
            bottom: 0px;
        }

        50% {
            bottom: 15px;
        }

        100% {
            bottom: 30;
        }
    }

    @keyframes bounce {
        0% {
            bottom: 0px;
        }

        50% {
            bottom: 15px;
        }

        100% {
            bottom: 30;
        }
    }
}

/* Recipes page */

.delete-button {
    background: orange;
    color: #F0EBEF;
}

/* pagination */

.pagination {
    justify-content: center;
}

.pagination-page-info {
    margin-bottom: 1em;
    text-align: center;
    text-transform: capitalize;
}

.pagination-page-info b {
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 120%;
    color: #1D261E;
}

.page-item {
    font-weight: 700;
}

.page-item.active .page-link {
    background-color: #008100;
}

.page-item.disabled .page-link {
    display: none;
}

.page-item .page-link:hover {
    background-color: #F0EBEF;
}

.page-item.active .page-link:hover {
    background-color: #008100;
}

.fa-check-circle {
    color: #008100;
}

.bg-image {
    max-width: 300px;
}

@media only screen and (min-width: 576px) {
    .bg-image {
        max-width: 500px;
    }
}

.bg-image>img {
    max-width: 100%;
}

.fa-heart {
    color: #008100;
}

.fa-star {
    color: gold;
    text-shadow: 1px 1px 0px #1D261E;
}