h1, h2, h3, h4, h5, h6, button {
    font-family: 'Amatic SC', cursive;
}

p, input, label, .form-helper {
    font-family: 'Indie Flower', cursive;
}

.dark-green-back {
    background-color: #008100;
}

.light-green-back {
    background-color: #87B679;
}

.light-text {
    color: #F0EBEF !important;
}

a {
    color: inherit;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.card {
    padding: 10px;
}

.flashes h3 {
    line-height: 2;
}

.rating > i {
    font-size: 1.5em;
    color: gold;
}

.veggie-info {
    overflow: hidden;
    height: 50vh;
}