/* global styling */

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Amatic SC', cursive;
}

p,
input,
label,
.form-helper {
    font-family: 'Indie Flower', cursive;
}

.dark-green-back {
    background-color: #008100;
    color: #F0EBEF;
}

.light-green-back {
    background-color: #87B679;
    color: #1D261E;
}

.light-back {
    background-color: #F0EBEF;
    color: #1D261E;
}

a {
    color: inherit;
}

.internal-link {
    color: #1D261E;
    font-weight: 800;
}

.internal-link:hover {
    color: #F0EBEF;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.my-button {
    background: #AAFFB4;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

.flashes h3 {
    line-height: 2;
}

.rating>i {
    font-size: 1.5em;
    color: gold;
}

.veggie-info {
    height: 50vh;
}

/* home hero section */

.hero {
    min-height: 100%;
    min-height: 100vh;
}

#main-title {
    letter-spacing: 10px;
    font-weight: 700;
}

.welcome {
    letter-spacing: 5px;
    font-weight: 700;
}

.home-veg {
    height: 50px;
}

@media only screen and (min-width: 768px) {
    .home-veg {
        height: 75px;
    }
}

/* bouncing 'next section button' */
/* code copied and adapted from
   https://forum.squarespace.com/topic/62680-how-can-i-create-a-bouncing-down-arrow/ */

.bounce {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-top: -25px;
    margin-left: -25px;
    height: 30px;
    width: 30px;
    -webkit-animation: bounce 1.5s infinite;
    -moz-animation: bounce 1.5s infinite;
    -o-animation: bounce 1.5s infinite;
    animation: bounce 1.5s infinite;
}

.bounce i {
    font-size: 1.2em;
}

@-webkit-keyframes bounce {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 15px;
    }

    100% {
        bottom: 30;
    }
}

@-moz-keyframes bounce {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 15px;
    }

    100% {
        bottom: 30;
    }
}

@-o-keyframes bounce {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 15px;
    }

    100% {
        bottom: 30;
    }
}

@keyframes bounce {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 15px;
    }

    100% {
        bottom: 30;
    }
}

@media only screen and (max-width: 992px) {
    .bounce {
        display: none;
    }
}

.card {
    padding: 20px;
}