{% extends "base.html" %}
{% block content %}

{% include 'navbar.html' %}

<main>
    <div class="container mt-5 mb-5">
        {% if session.user %}
        <form class="col col-md-8 mx-auto" method="POST" action="{{ url_for('add_recipe') }}">
            <div class="card light-back shadow-1-strong">
                <h2 class="text-center card-header mb-4">Add Recipe</h2>
                <div class="row">
                    <p class="text-center">
                        Please fill in all fields.
                    </p>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" id="rname" name="rname" class="form-control" required />
                    <label class="form-label" for="rname">Recipe Name</label>
                </div>
                <p>Cuisine</p>
                <select name="cuisine" id="cuisine" class="form-select mb-4" aria-label="cuisine-select" required>
                    <option value="other">Other</option>
                    {% for cuisine in cuisines %}
                    <option value="{{ cuisine.name }}">{{ cuisine.name|capitalize }}</option>
                    {% endfor %}
                </select>
                <p>Difficulty</p>
                <div class="btn-group mb-4">
                    <input type="radio" class="btn-check" name="difficulty" id="easy" value="easy" autocomplete="off"
                        checked />
                    <label class="btn btn-success" for="easy">Easy</label>
                    <input type="radio" class="btn-check" name="difficulty" id="medium" value="medium"
                        autocomplete="off" />
                    <label class="btn btn-success" for="medium">Medium</label>
                    <input type="radio" class="btn-check" name="difficulty" id="hard" value="hard" autocomplete="off" />
                    <label class="btn btn-success" for="hard">Hard</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="number" id="prep_time" name="prep_time" class="form-control" required />
                    <label class="form-label" for="prep_time">Prep Time (minutes)</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="number" id="cook_time" name="cook_time" class="form-control" required />
                    <label class="form-label" for="cook_time">Cook Time (minutes)</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="number" id="serves" name="serves" class="form-control" required />
                    <label class="form-label" for="serves">Serves (How many)</label>
                </div>
                <div class="form-outline mb-4">
                    <textarea class="form-control" id="description" name="description" rows="4" maxlength="250" data-mdb-showcounter="true"
                        required></textarea>
                    <label class="form-label" for="description">Description ( max 250 char)</label>
                    <div class="form-helper"></div>
                </div>
                <p>Add Ingredients (max 20)</p>
                <div class="ingredient_field_wrapper wrapper">
                    <div class="form-outline form-refresh mb-4">
                        <input type="text" name="ingredient" id="ingredient1" class="form-control ingredient"
                            required />
                        <label class="form-label" for="ingredient1">Ingredient 1</label>
                    </div>
                </div>
                <div class="btn-group mb-4">
                    <div class="add_ingredient_button btn dark-button">
                        <i class="fas fa-plus"></i> Add Another Ingredient
                    </div>
                    <div class="delete_ingredient_button btn dark-button delete-button">
                        <i class="fas fa-trash"></i> Remove Last Ingredient
                    </div>
                </div>
                <p>Add Instruction Steps (max 10)</p>
                <div class="instruction_field_wrapper wrapper">
                    <div class="form-outline form-refresh mb-4">
                        <textarea name="instruction" id="instruction1" class="form-control instruction" rows=4
                            required></textarea>
                        <label class="form-label" for="instruction1">Step 1</label>
                    </div>
                </div>
                <div class="btn-group mb-4">
                    <div class="add_instruction_button btn dark-button">
                        <i class="fas fa-plus"></i> Add Another Step
                    </div>
                    <div class="delete_instruction_button btn delete-button">
                        <i class="fas fa-trash"></i> Remove Last Step
                    </div>
                </div>
                <div class="btn dark-button photo-widget mb-4">
                    <i class="fas fa-camera-retro"></i> Add Photo (Optional)
                </div>
                <div class="image-submit-div">
                    <input type="hidden" id="image_submit" name="image_submit" />
                </div>
                <button type="submit" class="btn dark-button mb-4">Submit</button>
                <a href="{{ url_for('allRecipes') }}" class="btn delete-button">Cancel</a>
            </div>
        </form>
        {% else %}
        <h2 class="text-center">Please <a href="{{ url_for('login') }}" class="hover-underline">Login</a> to add a recipe</h2>
        {% endif %}
    </div>
</main>

{% endblock %}