{% extends "base.html" %}
{% block content %}

{% include 'navbar.html' %}

<main>
    <div class="container">
        <div class="mb-2 mt-4 justify-content-center">
            <div class="row card cuisines-card light-back gx-2">
                <h2 class="text-center mb-4 card-header">Cuisines</h2>
                {% if session.user|lower == "admin" %}
                <form method="POST" action="{{ url_for('all_cuisines') }}">
                    <div class="form-outline mb-4">
                        <input type="text" id="cuisineinput" name="addcuisine" class="form-control" required />
                        <label class="form-label" for="addcuisine">Add Cuisine</label>
                    </div>
                </form>
                {% endif %}
                {% if cuisines|length > 0 %}
                {% for cuisine in cuisines %}
                <div class="col-12 col-md-3 p-1 text-center">
                    <a href="{{ url_for('findRecipe', cuisine=cuisine.name, difficulty='all' ) }}"
                        class="card dark-green-back mt-4 shadow-1-strong small-scale cuisine-item">
                        <p class="text-shadow">{{ cuisine.name|capitalize }}</p>
                    </a>
                    {% if session.user|lower == "admin" %}
                    <a href="{{ url_for('delete_cuisine', cuisine_id=cuisine._id ) }}" class="btn delete-button mt-2">Delete Cuisine</a>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="col-12 col-md-3 p-1 text-center">
                    <a href="{{ url_for('findRecipe', cuisine='other', difficulty='all' ) }}"
                        class="card dark-green-back mt-4 shadow-1-strong small-scale cuisine-item">
                        <p class="text-shadow">Other</p>
                    </a>
                </div>
                {% else %}
                <h3 class="text-center">No Cuisines</h3>
                {% endif %}
            </div>
        </div>
    </div>

</main>
{% endblock %}