{% extends "base.html" %}
{% block content %}

{% include 'navbar.html' %}

<main>
    <div class="container mt-5 mb-5">
        <form class="col-8 mx-auto" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <div class="card dark-green-back">
                <h2 class="text-center title text-shadow">Edit Recipe</h2>
                <div class="row">
                    <p class="text-center">
                        Please fill in all fields.
                    </p>
                </div>
                <div class="form-outline form-white mb-4">
                    <input type="text" id="rname" name="rname" class="form-control" value="{{ recipe.name }}"
                        required />
                    <label class="form-label" for="rname">Recipe Name</label>
                </div>
                <p>Difficulty</p>
                <div class="btn-group mb-4">
                    {% if recipe.difficulty == "easy" %}
                    <input type="radio" class="btn-check" name="difficulty" id="easy" value="easy" autocomplete="off"
                        checked />
                    <label class="btn btn-success" for="easy">Easy</label>

                    <input type="radio" class="btn-check" name="difficulty" id="medium" value="medium"
                        autocomplete="off" />
                    <label class="btn btn-success" for="medium">Medium</label>

                    <input type="radio" class="btn-check" name="difficulty" id="hard" value="hard" autocomplete="off" />
                    <label class="btn btn-success" for="hard">Hard</label>
                    {% elif recipe.difficulty == "medium" %}
                    <input type="radio" class="btn-check" name="difficulty" id="easy" value="easy" autocomplete="off" />
                    <label class="btn btn-success" for="easy">Easy</label>

                    <input type="radio" class="btn-check" name="difficulty" id="medium" value="medium"
                        autocomplete="off" checked />
                    <label class="btn btn-success" for="medium">Medium</label>

                    <input type="radio" class="btn-check" name="difficulty" id="hard" value="hard" autocomplete="off" />
                    <label class="btn btn-success" for="hard">Hard</label>
                    {% else %}
                    <input type="radio" class="btn-check" name="difficulty" id="easy" value="easy" autocomplete="off" />
                    <label class="btn btn-success" for="easy">Easy</label>

                    <input type="radio" class="btn-check" name="difficulty" id="medium" value="medium"
                        autocomplete="off" />
                    <label class="btn btn-success" for="medium">Medium</label>

                    <input type="radio" class="btn-check" name="difficulty" id="hard" value="hard" autocomplete="off"
                        checked />
                    <label class="btn btn-success" for="hard">Hard</label>
                    {% endif %}
                </div>
                <div class="form-outline form-white mb-4">
                    <input type="number" id="prep_time" name="prep_time" class="form-control"
                        value="{{ recipe.prep_time }}" required />
                    <label class="form-label" for="prep_time">Prep Time (minutes)</label>
                </div>
                <div class="form-outline form-white mb-4">
                    <input type="number" id="cook_time" name="cook_time" class="form-control"
                        value="{{ recipe.cook_time }}" required />
                    <label class="form-label" for="cook_time">Cook Time (minutes)</label>
                </div>
                <div class="form-outline form-white mb-4">
                    <input type="number" id="serves" name="serves" class="form-control" value="{{ recipe.serves }}"
                        required />
                    <label class="form-label" for="serves">Serves (How many)</label>
                </div>
                <div class="form-outline form-white mb-4">
                    <textarea class="form-control" id="description" name="description" rows="4"
                        required>{{ recipe.description }}</textarea>
                    <label class="form-label" for="description">Description</label>
                </div>
                <p>Add Ingredients</p>
                <div class="ingredient_field_wrapper wrapper">
                    {% for ingredient in recipe.ingredients %}
                    <div class="form-outline form-white mb-4">
                        <input type="text" name="ingredient" id="ingredient1" class="form-control ingredient"
                            value="{{ ingredient }}" required />
                        <label class="form-label" for="ingredient1">Ingredient</label>
                    </div>
                    {% endfor %}
                </div>
                <div class="delete_ingredient_button btn my-button mb-4" title="Add field">
                    <i class="fas fa-plus"></i> Remove Last Ingredient
                </div>
                <div class="add_ingredient_button btn my-button mb-4" title="Add field">
                    <i class="fas fa-plus"></i> Add Another Ingredient
                </div>
                <p>Add Instructions</p>
                <div class="instruction_field_wrapper wrapper">
                    {% for instruction in recipe.instructions %}
                    <div class="form-outline form-white mb-4">
                        <textarea name="instruction" id="instruction1" class="form-control instruction" rows=4
                            required>{{ instruction }}</textarea>
                        <label class="form-label" for="instruction1">Instruction {{ loop.index }}</label>
                    </div>
                    {% endfor %}
                </div>
                <div class="delete_instruction_button btn my-button mb-4" title="Add field">
                    <i class="fas fa-plus"></i> Remove Last Instruction
                </div>
                <div class="add_instruction_button btn my-button mb-4" title="Add field">
                    <i class="fas fa-plus"></i> Add Further Instructions
                </div>
                <div class="btn my-button photo-widget mb-4">
                    Add Photo (Optional)
                </div>
                <input type="text" id="image_submit" name="image_submit" />
                <label for="image_submit">Image Submit</label>
                <button type="submit" class="btn my-button mb-3">Edit</button>
                <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}"
                    class="btn internal-link my-button">Cancel</a>
            </div>
        </form>
    </div>
</main>

{% endblock %}