{% extends "base.html" %}
{% block content %}

{% include 'navbar.html' %}

<main>
    <div class="container">
        <div class="row mb-2 mt-4 justify-content-center">
            <div class="col-11 col-md-12 card light-back mb-2 shadow-1-strong">
                <h2 class="text-center card-header">
                    {{ user.username }}'s favourites <i class="fas fa-heart"></i></h2>
            </div>
        </div>

        <div class="row justify-content-center">
            {% if user.favorite %}
            {% for recipe in user.favorite|reverse %}

            <div class="col-11 col-md-12 card light-back mb-4 shadow-1-strong">
                <div class="card-body">
                    <div class="row">
                        {% if loop.index % 2 != 0 %}
                        <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}"
                            class="col-12 col-md-6 d-flex align-items-center justify-content-center mb-2">
                            {% if recipe.image %}
                            <div class="bg-image hover-zoom rounded">
                                <img src="{{ recipe.image }}" alt="{{ recipe.name }} Photo">
                            </div>
                            {% else %}
                            <i class="fas fa-camera-retro fa-5x"></i>
                            {% endif %}
                        </a>
                        <div class="col-12 col-md-6 mt-4 mb-2">
                            <h3 class="card-title mb-2 mb-md-2">{{ recipe.name }}</h3>
                            <p class="card-text dark-green-letters">
                                Created by {{ recipe.created_by }}
                            </p>
                            <p class="card-text">
                                {% if recipe.avgrating == 1 %}
                                <i class="fas fa-star"></i>
                                {% elif recipe.avgrating == 2 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% elif recipe.avgrating == 3 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% elif recipe.avgrating == 4 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% elif recipe.avgrating == 5 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% else %}
                                <strong>No rating yet</strong>
                                {% endif %}
                            </p>
                            <p class="card-text text-muted">
                                <strong>Created on</strong> {{ recipe.date }} at {{ recipe.time }}
                            </p>
                            <p class="card-text">
                                <strong>Difficulty:</strong> {{ recipe.difficulty }}
                            </p>
                            <p class="card-text">
                                <strong>Prep Time:</strong> {{ recipe.prep_time }}
                            </p>
                            <p class="card-text">
                                <strong>Cook Time:</strong> {{ recipe.cook_time }}
                            </p>
                            <p class="card-text">
                                <strong>Serves:</strong> {{ recipe.serves }}
                            </p>
                            <p class="card-text">
                                {{ recipe.description }}
                            </p>
                        </div>
                        {% else %}
                        <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}"
                            class="col-12 col-md-6 order-md-2 d-flex align-items-center justify-content-center mb-2">
                            {% if recipe.image %}
                            <div class="bg-image hover-zoom rounded">
                                <img src="{{ recipe.image }}" alt="{{ recipe.name }} Photo">
                            </div>
                            {% else %}
                            <i class="fas fa-camera-retro fa-5x"></i>
                            {% endif %}
                        </a>
                        <div class="col-12 col-md-6 order-md-1 mt-4 mb-2">
                            <h3 class="card-title mb-2 mb-md-2">{{ recipe.name }}</h3>
                            <p class="card-text dark-green-letters">
                                Created by {{ recipe.created_by }}
                            </p>
                            <p class="card-text">
                                {% if recipe.avgrating == 1 %}
                                <i class="fas fa-star"></i>
                                {% elif recipe.avgrating == 2 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% elif recipe.avgrating == 3 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% elif recipe.avgrating == 4 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% elif recipe.avgrating == 5 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% else %}
                                <strong>No rating yet</strong>
                                {% endif %}
                            </p>
                            <p class="card-text text-muted">
                                <strong>Created on</strong> {{ recipe.date }} at {{ recipe.time }}
                            </p>
                            <p class="card-text">
                                <strong>Difficulty:</strong> {{ recipe.difficulty }}
                            </p>
                            <p class="card-text">
                                <strong>Prep Time:</strong> {{ recipe.prep_time }}
                            </p>
                            <p class="card-text">
                                <strong>Cook Time:</strong> {{ recipe.cook_time }}
                            </p>
                            <p class="card-text">
                                <strong>Serves:</strong> {{ recipe.serves }}
                            </p>
                            <p class="card-text">
                                {{ recipe.description }}
                            </p>
                        </div>
                        {% endif %}

                        <div class="col-12 order-md-4">
                            <div class="justify-content-center">
                                <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}"
                                    class="col-12 btn dark-button mt-2">See more</a>
                            </div>
                            <div class="justify-content-center">
                                <a class="col-12 btn delete-button mt-2"
                                    href="{{ url_for('remove_favorite', recipe_id=recipe._id) }}">
                                    Remove from favorites</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h3 class="text-center">No Favourites Yet</h3>
            {% endif %}
        </div>
    </div>

</main>
{% endblock %}