{% extends "base.html" %}
{% block content %}

{% include 'navbar-home.html' %}

<main>
    <div class="container-lg p-4">
        <div class="row g-4">
            <div class="col-12 col-md-8">
                <div class="row g-3">
                    <div class="col-12">
                        <div class="card light-back shadow-1-strong">
                            <h2 class="text-center card-header">Why Go Veggie?</h2>
                            <div class="card-text veggie-info overflow-hidden">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt
                                    ut labore et dolore magna aliqua. Eu facilisis sed odio morbi quis. Enim tortor at
                                    auctor urna nunc. Imperdiet nulla malesuada pellentesque elit eget gravida cum
                                    sociis
                                    natoque. Nunc eget lorem dolor sed viverra. Ut lectus arcu bibendum at varius.
                                    Rhoncus
                                    aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant.
                                    Tellus
                                    orci ac auctor augue mauris augue neque. Sit amet facilisis magna etiam tempor orci.
                                    Mi
                                    tempus imperdiet nulla malesuada. Nulla facilisi morbi tempus iaculis urna id
                                    volutpat.
                                    Vestibulum lorem sed risus ultricies tristique nulla.
                                </p>
                                <p>
                                    Consequat interdum varius sit amet mattis. Vitae turpis massa sed elementum tempus
                                    egestas sed sed risus. Facilisi etiam dignissim diam quis enim lobortis scelerisque.
                                    Nunc sed augue lacus viverra vitae. Consequat nisl vel pretium lectus quam id leo in
                                    vitae. Cras sed felis eget velit aliquet sagittis. Pellentesque adipiscing commodo
                                    elit
                                    at imperdiet dui accumsan sit amet. Placerat duis ultricies lacus sed turpis
                                    tincidunt.
                                    Viverra accumsan in nisl nisi scelerisque. Duis ut diam quam nulla porttitor massa
                                    id
                                    neque aliquam. Adipiscing bibendum est ultricies integer quis. Imperdiet proin
                                    fermentum
                                    leo vel orci. Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam.
                                    Ridiculus mus mauris vitae ultricies leo integer malesuada. Netus et malesuada fames
                                    ac
                                    turpis egestas maecenas pharetra. Donec massa sapien faucibus et molestie ac feugiat
                                    sed. Urna cursus eget nunc scelerisque viverra mauris in aliquam. Penatibus et
                                    magnis
                                    dis parturient montes nascetur ridiculus mus. Vel eros donec ac odio tempor orci.
                                    Semper
                                    viverra nam libero justo laoreet sit.
                                </p>
                                <p>
                                    Consequat interdum varius sit amet mattis. Vitae turpis massa sed elementum tempus
                                    egestas sed sed risus. Facilisi etiam dignissim diam quis enim lobortis scelerisque.
                                    Nunc sed augue lacus viverra vitae. Consequat nisl vel pretium lectus quam id leo in
                                    vitae. Cras sed felis eget velit aliquet sagittis. Pellentesque adipiscing commodo
                                    elit
                                    at imperdiet dui accumsan sit amet. Placerat duis ultricies lacus sed turpis
                                    tincidunt.
                                    Viverra accumsan in nisl nisi scelerisque. Duis ut diam quam nulla porttitor massa
                                    id
                                    neque aliquam. Adipiscing bibendum est ultricies integer quis. Imperdiet proin
                                    fermentum
                                    leo vel orci. Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam.
                                    Ridiculus mus mauris vitae ultricies leo integer malesuada. Netus et malesuada fames
                                    ac
                                    turpis egestas maecenas pharetra. Donec massa sapien faucibus et molestie ac feugiat
                                    sed. Urna cursus eget nunc scelerisque viverra mauris in aliquam. Penatibus et
                                    magnis
                                    dis parturient montes nascetur ridiculus mus. Vel eros donec ac odio tempor orci.
                                    Semper
                                    viverra nam libero justo laoreet sit.
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if session.user %}
                    <div class="col-12 col-lg-6">
                        <div class="card light-back shadow-1-strong">
                            <h2 class="text-center card-header">{{ user.username }}'s favourite Recipes</h2>
                            {% if user.favorite %}
                            {% for recipe in user.favorite %}
                            <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}"
                                class="card dark-green-back mt-4 text-center align-items-center shadow-1-strong">
                                <h3>{{ recipe.name }}
                                </h3>
                            </a>
                            {% endfor %}
                            {% else %}
                            <p class="text-center mt-4">You have no favorites! Find some recipes <a href="{{ url_for('all_recipes') }}">
                                    Here!
                                </a></p>
                            {% endif %}

                        </div>
                    </div>
                    {% else %}
                    <div class="col-12 col-lg-6">
                        <form class="mx-auto" method="POST" action="{{ url_for('login') }}">
                            <div class="card light-back shadow-1-strong">
                                <h2 class="text-center mb-4 card-header">Log In</h2>
                                <p class="text-center">
                                    Don't have an account with us yet? Register <a
                                        href="{{ url_for('register') }}">Here</a>
                                </p>
                                <div class="form-outline mb-4">
                                    <input type="text" id="username" name="username" class="form-control" required />
                                    <label class="form-label" for="username">Username</label>
                                    <div class="form-helper"></div>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="password" id="password" name="password" class="form-control"
                                        required />
                                    <label class="form-label" for="password">Password</label>
                                    <div class="form-helper"></div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn dark-button">
                                        Log In
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                    <div class="col-12 col-lg-6">
                        <div class="card light-back shadow-1-strong">
                            <h2 class="text-center mb-4 card-header">Search For Recipe</h2>
                            <p class="text-center card-subtitle text-muted mb-4">Search by dish/ingredient etc</p>
                            <form action="{{ url_for('search') }}" method="post" class="col-12">
                                <div class="justify-content-center">
                                    <div class="form-outline mb-4">
                                        <input type="text" id="query" name="query" class="form-control" required />
                                        <label class="form-label" for="query">e.g. Stir Fry</label>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn dark-button">
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="row g-3">
                    <div class="col-12">
                        <div class="ratings card light-back shadow-1-strong">
                            <h2 class="text-center card-header">Top Rated</h2>
                            {% for recipe in recipes %}
                            <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}"
                                class="card dark-green-back mt-4 text-center shadow-1-strong">
                                <h3 class="card-header text-shadow">{{ recipe.name }}</h3>
                                <p class="card-text mt-3">
                                    {% if recipe.avgrating == 1 %}
                                    <i class="fas fa-star"></i>
                                    {% elif recipe.avgrating == 2 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    {% elif recipe.avgrating == 3 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    {% elif recipe.avgrating == 4 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    {% elif recipe.avgrating == 5 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    {% else %}
                                    <p><strong class="text-shadow">No Rating Yet</strong></p>
                                    {% endif %}
                                </p>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
    // hides footer until scroll down
    $(document).ready(function () {
        $("footer").css("display", "none")

        $(window).scroll(function () {
            if ($(this).scrollTop() > 1) {
                $("footer").show();
            } else {
                $("footer").hide();
            }
        });
    });
</script>

{% endblock %}