{% extends "base.html" %}
{% block content %}

{% include 'navbar-home.html' %}

<main>
    <div class="container-lg p-4">
        <div class="row g-4">
            <div class="col-12 col-md-8">
                <div class="row g-3">
                    <div class="col-12">
                        <div class="card light-back shadow-1-strong">
                            <h2 class="text-center card-header mb-3">7 Reasons to go Veggie</h2>
                            <article class="accordion accordion-flush" id="my-accordion">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="heading1">
                                        <button class="accordion-button collapsed" type="button"
                                            data-mdb-toggle="collapse" data-mdb-target="#collapse1"
                                            aria-expanded="false" aria-controls="collapse1">
                                            1. To lose weight for good
                                        </button>
                                    </h3>
                                    <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
                                        data-mdb-parent="#my-accordion">
                                        <div class="accordion-body">
                                            <p>
                                                Vegetarians typically weigh less than meat eaters. Meat tends to come
                                                with a lot of extra unhealthy fats and cholesterol, causing excess
                                                weight with long-term consumption.
                                            </p>
                                            <p>
                                                One study conducted by Dr. Dean Ornish found that overweight people who
                                                ate a low-fat and vegetarian diet lost an average of 24 pounds in the
                                                first year! This was without counting any calories. Not only that, but
                                                they also kept that weight off for five years after the study. Losing
                                                weight may not be your reason to become vegetarian but it is certainly a
                                                nice benefit.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading2">
                                        <button class="accordion-button collapsed" type="button"
                                            data-mdb-toggle="collapse" data-mdb-target="#collapse2"
                                            aria-expanded="false" aria-controls="collapse2">
                                            2. To Prevent Diseases
                                        </button>
                                    </h2>
                                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                                        data-mdb-parent="#my-accordion">
                                        <div class="accordion-body">
                                            <p>
                                                Vegetarians are less likely to develop diseases and cancer, according to
                                                the research reported in the Position of the American Dietetic
                                                Association: Vegetarian Diets.They eat a lot less animal fat and
                                                cholesterol, replacing it more fiber and antioxidants. This dietary
                                                switch helps prevent heart disease, stroke, and diabetes—the leading
                                                killers in the U.S.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading3">
                                        <button class="accordion-button collapsed" type="button"
                                            data-mdb-toggle="collapse" data-mdb-target="#collapse3"
                                            aria-expanded="false" aria-controls="collapse3">
                                            3. You May Live Longer
                                        </button>
                                    </h2>
                                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                                        data-mdb-parent="#my-accordion">
                                        <div class="accordion-body">
                                            <p>
                                                You can add years to your life if you switch to a vegetarian diet. The
                                                Mortality in British Vegetarians study found that a vegetarian diet adds
                                                an average of six years onto your life. It does so by strengthening the
                                                immune system through vitamins, minerals, fiber, and phytonutrients.
                                                Additionally, it helps to prevent chronic diseases and reverse them
                                                which extends life span.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading4">
                                            <button class="accordion-button collapsed" type="button"
                                                data-mdb-toggle="collapse" data-mdb-target="#collapse4"
                                                aria-expanded="false" aria-controls="collapse4">
                                                4. To show animals compassion
                                            </button>
                                        </h2>
                                        <div id="collapse4" class="accordion-collapse collapse"
                                            aria-labelledby="heading4" data-mdb-parent="#my-accordion">
                                            <div class="accordion-body">
                                                <p>
                                                    Americans have grown to depend on commercial farming, which often
                                                    uses inhumane techniques to raise animals and slaughter them for
                                                    meat. It is disturbing to many who find out the details of it. By
                                                    being vegetarian, you are lowering the demand for this kind of meat
                                                    and therefore reducing the amount animals that must suffer.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading5">
                                            <button class="accordion-button collapsed" type="button"
                                                data-mdb-toggle="collapse" data-mdb-target="#collapse5"
                                                aria-expanded="false" aria-controls="collapse5">
                                                5. Increase energy
                                            </button>
                                        </h2>
                                        <div id="collapse5" class="accordion-collapse collapse"
                                            aria-labelledby="heading5" data-mdb-parent="#my-accordion">
                                            <div class="accordion-body">
                                                <p>
                                                    A diet filled with fruits and vegetables in place of meat provides
                                                    heaps more nutrients, water, and fiber and is easier to digest. When
                                                    your body doesn't have to work so hard to digest complex or
                                                    unhealthy foods, you will have excess energy for other processes.
                                                    Furthermore, plants carry oxygen through your blood so that
                                                    everything can work more efficiently.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading6">
                                            <button class="accordion-button collapsed" type="button"
                                                data-mdb-toggle="collapse" data-mdb-target="#collapse6"
                                                aria-expanded="false" aria-controls="collapse6">
                                                6. Avoid toxic chemicals
                                            </button>
                                        </h2>
                                        <div id="collapse6" class="accordion-collapse collapse"
                                            aria-labelledby="heading6" data-mdb-parent="#my-accordion">
                                            <div class="accordion-body">
                                                <p>
                                                    Meat products are often laden with chemicals to help extend their
                                                    shelf-life. In addition, animals are also pumped with chemicals and
                                                    hormones to help speed up the maturation process and prevent disease
                                                    in livestock. So the meat you consume is full of these substances
                                                    which can negatively affect your health and wellness.
                                                </p>
                                                <p>
                                                    The most you have to worry about with fruits and vegetables are
                                                    pesticides, which you can avoid by going organic.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading7">
                                            <button class="accordion-button collapsed" type="button"
                                                data-mdb-toggle="collapse" data-mdb-target="#collapse7"
                                                aria-expanded="false" aria-controls="collapse7">
                                                7. Save money
                                            </button>
                                        </h2>
                                        <div id="collapse7" class="accordion-collapse collapse"
                                            aria-labelledby="heading7" data-mdb-parent="#my-accordion">
                                            <div class="accordion-body">
                                                <p>
                                                    Fruits, vegetables, grains, and pastas are so cheap and can be found
                                                    in virtually every corner of the world. In fact, 10 percent of total
                                                    food spending in the U.S. is spent on meats. By cutting out meat,
                                                    you can save on your food expenses!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    {% if session.user %}
                    <div class="col-12 col-lg-6">
                        <div class="card light-back shadow-1-strong">
                            <h2 class="text-center card-header">{{ user.username }}'s favourite Recipes</h2>
                            {% if user.favorite %}
                            {% for recipe in user.favorite %}
                            <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}"
                                class="card dark-green-back mt-4 text-center align-items-center shadow-1-strong small-scale">
                                <h3>{{ recipe.name }}
                                </h3>
                            </a>
                            {% endfor %}
                            {% else %}
                            <p class="text-center mt-4">You have no favorites! Find some recipes <a
                                    href="{{ url_for('allRecipes') }}">
                                    Here!
                                </a></p>
                            {% endif %}

                        </div>
                    </div>
                    {% else %}
                    <div class="col-12 col-lg-6">
                        <form class="mx-auto" method="POST" action="{{ url_for('login') }}">
                            <div class="card light-back shadow-1-strong">
                                <h2 class="text-center mb-4 card-header">Log In</h2>
                                <p class="text-center">
                                    Don't have an account with us yet? Register <a
                                        href="{{ url_for('register') }}">Here</a>
                                </p>
                                <div class="form-outline mb-4">
                                    <input type="text" id="username" name="username" class="form-control" required />
                                    <label class="form-label" for="username">Username/Email</label>
                                    <div class="form-helper"></div>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="password" id="password" name="password" class="form-control"
                                        required />
                                    <label class="form-label" for="password">Password</label>
                                    <div class="form-helper"></div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn dark-button">
                                        Log In
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                    <div class="col-12 col-lg-6">
                        <div class="card light-back shadow-1-strong">
                            <h2 class="text-center mb-4 card-header">Search For Recipe</h2>
                            <p class="text-center card-subtitle text-muted mb-4">Search by dish/ingredient etc</p>
                            <form action="{{ url_for('search') }}" method="post" class="col-12">
                                <div class="justify-content-center">
                                    <div class="form-outline mb-4">
                                        <input type="text" id="query" name="query" class="form-control" required />
                                        <label class="form-label" for="query">e.g. Stir Fry</label>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn dark-button">
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="row g-3">
                    <div class="col-12">
                        <div class="ratings card light-back shadow-1-strong">
                            <h2 class="text-center card-header">Top Rated</h2>
                            {% for recipe in recipes %}
                            <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}"
                                class="card dark-green-back mt-4 text-center shadow-1-strong small-scale">
                                <h3 class="card-header text-shadow">{{ recipe.name }}</h3>
                                <p class="card-text mt-3">
                                    {% if recipe.avgrating == 1 %}
                                    <i class="fas fa-star"></i>
                                    {% elif recipe.avgrating == 2 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    {% elif recipe.avgrating == 3 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    {% elif recipe.avgrating == 4 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    {% elif recipe.avgrating == 5 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    {% else %}
                                    <p><strong class="text-shadow">No Rating Yet</strong></p>
                                    {% endif %}
                                </p>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
    // hides footer until scroll down
    $(document).ready(function () {
        $("footer").css("display", "none")

        $(window).scroll(function () {
            if ($(this).scrollTop() > 1) {
                $("footer").show();
            } else {
                $("footer").hide();
            }
        });
    });
</script>

{% endblock %}