{% extends "base.html" %}
{% block content %}

{% include 'navbar.html' %}

<main>
    <h2 class="text-center">Log In</h2>

    <div class="row">
        <p class="text-center">
            Don't have an account with us yet? Register <a href="{{ url_for('register') }}">Here</a>
        </p>
    </div>

    <div class="row mt-5">
        <form class="col-8 mx-auto" method="POST" action="{{ url_for('login') }}">
            <div class="card">
                <div class="form-outline mb-4">
                    <input type="text" id="username" name="username" class="form-control" required />
                    <label class="form-label" for="username">Username</label>
                    <div class="form-helper"></div>
                </div>
                <div class="form-outline mb-4">
                    <input type="password" id="password" name="password" class="form-control" required />
                    <label class="form-label" for="password">Password</label>
                    <div class="form-helper"></div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </div>
        </form>
    </div>
</main>

{% endblock %}