{% extends "base.html" %}
{% block content %}

{% include 'navbar.html' %}

<main>
    <div class="container mt-5">
        {% if session.user %}
        <h2 class="text-center">You are already logged in!!</h2>
        {% else %}
        <form method="POST" action="{{ url_for('login') }}">
            <div class="card light-back shadow-1-strong">
                <h2 class="text-center card-header mb-4">Log In</h2>
                <p class=" text-center">
                    Don't have an account with us yet? Register <a href="{{ url_for('register') }}">Here</a>
                </p>
                <div class="form-outline mb-4">
                    <input type="text" id="username" name="username" class="form-control" required />
                    <label class="form-label" for="username">Username/Email</label>
                    <div class="form-helper"></div>
                </div>
                <div class="form-outline mb-4">
                    <input type="password" id="password" name="password" class="form-control" required />
                    <label class="form-label" for="password">Password</label>
                    <div class="form-helper"></div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn dark-button">
                        Log In
                    </button>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</main>

{% endblock %}