<header>
    <div class="hero dark-green-back text-center">
        <div class="row gy-4">
            <div class="col-6 text-center">
                <img src="../static/svg/pepper.svg" alt="pepper" class="home-veg" id="pepper">
            </div>
            <div class="col-6 text-center">
                <img src="../static/svg/carrot.svg" alt="carrot" class="home-veg" id="carrot">
            </div>
            <div class="col-12">
                <h1 id="main-title" class="light-text text-shadow text-center">Veggie Visionaries</h1>
            </div>
            <div class="light-text text-shadow col-6 offset-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Volutpat lacus laoreet non curabitur. Magna sit amet purus gravida quis
                    blandit. Justo nec ultrices dui sapien eget mi proin sed libero. Purus non enim praesent elementum.
                    Ut morbi tincidunt augue interdum velit euismod. Lectus sit amet est placerat in egestas. In
                    pellentesque massa placerat duis ultricies lacus. Neque ornare aenean euismod elementum nisi quis
                    eleifend. Mauris a diam maecenas sed enim. Sed pulvinar proin gravida hendrerit lectus a. At auctor
                    urna nunc id cursus metus.
                </p>
            </div>
            <div class="col-6 text-center">
                <img src="../static/svg/onion.svg" alt="onion" class="home-veg" id="onion">
            </div>
            <div class="col-6 text-center">
                <img src="../static/svg/aubergine.svg" alt="aubergine" class="home-veg" id="aubergine">
            </div>
        </div>
        <div class="bounce">
            <a href="#nav"><i class="fas fa-chevron-down light-text"></i></a>
        </div>
    </div>
    <nav id="nav" class="navbar sticky-top navbar-expand-lg dark-green-back light-text text-shadow">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Navbar Brand -->
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <h1>Veggie Visionaries</h1>
            </a>
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbar-content"
                aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbar-content">
                <!-- Left links -->
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if session.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('loggedin', username=session['user']) }}">
                            <p>Home</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('get_recipes') }}">
                            <p>Recipes</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">
                            <p>Log Out</p>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">
                            <p>Home</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('get_recipes') }}">
                            <p>Recipes</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">
                            <p>Register</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">
                            <p>Log In</p>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
</header>