<header>
    <div class="hero dark-green-back d-flex align-items-center">
        <div class="container-xxl text-center mt-4">
            <div class="row gy-4">
                <div class="col-6 text-center">
                    <img src="../static/svg/pepper.svg" alt="pepper" class="home-veg" id="pepper">
                </div>
                <div class="col-6 text-center">
                    <img src="../static/svg/carrot.svg" alt="carrot" class="home-veg" id="carrot">
                </div>
                <div class="col-12">
                    <h1 id="main-title" class="light-text text-center text-shadow">Veggie Visionaries</h1>
                </div>
                <div class="light-text col-6 offset-3 text-shadow">
                    <p>A place to share your favourite veggie meals!
                    </p>
                </div>
                {% if session.user %}
                <h2 class="text-center welcome">Welcome {{ user.username }}</h2>
                {% endif %}
            </div>
            <div class="row mt-5 d-flex justify-content-evenly g-2" id="home-buttons">
                <a href="{{ url_for('all_recipes') }}" class="btn col-8 col-lg-3 my-button">
                    Browse Recipes
                </a>
                {% if session.user %}
                <a href="{{ url_for('add_recipe') }}" class="btn col-8 col-lg-3 my-button">
                    Add New Recipe
                </a>
                <a href="{{ url_for('logout') }}" class="btn col-8 col-lg-3 my-button">
                    Log Out
                </a>
                {% else %}
                <a href="{{ url_for('register') }}" class="btn col-8 col-lg-3 my-button">
                    Register
                </a>
                <a href="{{ url_for('login') }}" class="btn col-8 col-lg-3 my-button">
                    Log In
                </a>
                {% endif %}
            </div>
            <div class="row mt-5">
                <div class="col-6 text-center">
                    <img src="../static/svg/onion.svg" alt="onion" class="home-veg" id="onion">
                </div>
                <div class="col-6 text-center">
                    <img src="../static/svg/aubergine.svg" alt="aubergine" class="home-veg" id="aubergine">
                </div>
            </div>
        </div>
        <div class="bounce">
            <a href="#nav"><i class="fas fa-chevron-down light-text"></i></a>
        </div>
    </div>
</header>

<!-- nav outside header element as this prevents 'sticky top' class from working -->
<nav id="nav" class="navbar sticky-top navbar-expand-lg dark-green-back light-text text-shadow">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar Brand -->
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <h1>Veggie Visionaries</h1>
        </a>
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbar-content"
            aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbar-content">
            <!-- Left links -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if session.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('loggedin', username=session['user']) }}">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('all_recipes') }}">
                        Recipes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_recipe') }}">
                        Add Recipe
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">
                        Log Out
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('all_recipes') }}">
                        Recipes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">
                        Register
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">
                        Log In
                    </a>
                </li>
                {% endif %}
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<section>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row flashes">
        <h2 class="text-center">{{ message }}</h2>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</section>