{% extends "base.html" %}
{% block content %}

{% include 'navbar.html' %}

<main>
    <div class="container">
        <h2 class="text-center title text-shadow p-3">Recipes</h2>

        <div class="row justify-content-center">
            <form action="{{ url_for('search') }}" method="post" class="col">
                <div class="row mb-3 justify-content-center">
                    <div class="form-outline form-white col-11 col-xxl-9 mb-3">
                        <input type="text" id="query" name="query" class="form-control" required />
                        <label class="form-label" for="query">Enter Recipe Name/Ingredient/Creator</label>
                    </div>
                    <div class="col-12 col-xxl-3">
                        <button type="submit" class="btn internal-link my-button">
                            Search
                        </button>
                        <a href="{{ url_for('get_recipes') }}" class="btn internal-link my-button">Reset</a>
                        <div class="dropdown d-inline">
                            <button class="btn internal-link my-button dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
                                Sort By
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="{{ url_for('a_z') }}">A-Z</a></li>
                                <li><a class="dropdown-item" href="#">Difficulty</a></li>
                                <li><a class="dropdown-item" href="#">Time</a></li>
                                <li><a class="dropdown-item" href="#">Rating</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        {{ pagination.links }}
        {{ pagination.info }}

        {% if recipes|length > 0 %}
        {% for recipe in recipes %}
        <div class="row justify-content-center">
            <div class="col">
                <div class="card light-back mb-4">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">{{ recipe.name }}</h3>
                        <div class="row">
                            {% if loop.index % 2 != 0 %}
                            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center mb-2">
                                {% if recipe.image %}
                                <img src="#" alt="{{ recipe.name }} Photo">
                                {% else %}
                                <i class="fas fa-camera-retro fa-5x"></i>
                                {% endif %}
                            </div>
                            <div class="col-12 col-md-6 mb-2">
                                <p class="card-text">
                                    Created by {{ recipe.created_by }}
                                </p>
                                <p class="card-text">
                                    Difficulty: {{ recipe.difficulty }}
                                </p>
                                <p class="card-text">
                                    Prep Time: {{ recipe.prep_time }}
                                </p>
                                <p class="card-text">
                                    Cook Time: {{ recipe.cook_time }}
                                </p>
                                <p class="card-text">
                                    Serves: {{ recipe.serves }}
                                </p>
                                <p class="card-text">
                                    {{ recipe.description }}
                                </p>
                            </div>
                            {% else %}
                            <div
                                class="col-12 col-md-6 order-md-2 d-flex align-items-center justify-content-center mb-2">
                                {% if recipe.image %}
                                <img src="#" alt="{{ recipe.name }} Photo">
                                {% else %}
                                <i class="fas fa-camera-retro fa-5x"></i>
                                {% endif %}
                            </div>
                            <div class="col-12 col-md-6 order-md-1 mb-2">
                                <p class="card-text">
                                    Created by {{ recipe.created_by }}
                                </p>
                                <p class="card-text">
                                    Difficulty: {{ recipe.difficulty }}
                                </p>
                                <p class="card-text">
                                    Prep Time: {{ recipe.prep_time }}
                                </p>
                                <p class="card-text">
                                    Cook Time: {{ recipe.cook_time }}
                                </p>
                                <p class="card-text">
                                    Serves: {{ recipe.serves }}
                                </p>
                                <p class="card-text">
                                    {{ recipe.description }}
                                </p>
                            </div>
                            {% endif %}
                            {% if session.user|lower == recipe.created_by|lower %}
                            <div class="col-12 order-md-3">
                                <div class="row justify-content-between mt-2 mb-2">
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                                        class="col-5 col-md-3 btn internal-link my-button">Edit</a>
                                    <button class="col-5 col-md-3 btn internal-link my-button delete-button"
                                        data-mdb-toggle="modal" data-mdb-target="#exampleModal">Delete</a>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <p class="text-center mb-0">Are you sure you want to delete this recipe?
                                                </p>
                                            </div>
                                            <div class="modal-footer justify-content-center">
                                                <button type="button" class="btn internal-link my-button"
                                                    data-mdb-dismiss="modal">
                                                    Cancel
                                                </button>
                                                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                                                    type="button"
                                                    class="btn internal-link my-button delete-button">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-12 order-md-4">
                                <div class="row justify-content-center">
                                    <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}"
                                        class="col-12 btn internal-link my-button mt-2">See more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        {% else %}
        <h3 class="text-center">No Results Found</h3>
        {% endif %}
    </div>

</main>
{% endblock %}