{% extends "base.html" %}
{% block content %}

{% include 'navbar.html' %}

<main>
    <div class="container">
        <h2 class="text-center title text-shadow p-3">Recipes</h2>

        {% for recipe in recipes %}
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="card light-back mb-4">
                    <div class="card-body">
                        <h3 class="card-title text-center">{{ recipe.name }}</h3>
                        <div class="row">
                            <div class="col-6">
                                <p class="card-text">
                                    Created by {{ recipe.created_by }}
                                </p>
                                <p class="card-text">
                                    Difficulty: {{ recipe.difficulty }}
                                </p>
                                <p class="card-text">
                                    Prep Time: {{ recipe.prep_time }}
                                </p>
                                <p class="card-text">
                                    Cook Time: {{ recipe.cook_time }}
                                </p>
                                <p class="card-text">
                                    Serves: {{ recipe.serves }}
                                </p>
                                <p class="card-text">
                                    {{ recipe.description }}
                                </p>
                            </div>
                            <div class="col-6 d-flex align-items-center justify-content-center">
                                {% if recipe.image %}
                                <img src="#" alt="{{ recipe.name }} Photo">
                                {% else %}
                                <i class="fas fa-camera-retro fa-5x"></i>
                                {% endif %}
                            </div>
                            <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}"
                                class="btn internal-link my-button">See more</a>
                            {% if session.user|lower == recipe.created_by|lower %}
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                                class="btn internal-link my-button">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

</main>
{% endblock %}