{% extends "base.html" %}
{% block content %}

{% include 'navbar.html' %}

<main>
    <div class="container mt-4 mb-4">
        <h2 class="text-center title text-shadow mb-4">{{ recipe.name }}</h2>
        <div class="row justify-content-center g-2">
            <div class="col-12">
                <div class="card light-back">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-6 order-md-2 d-flex align-items-center justify-content-center">
                                {% if recipe.image %}
                                <img src="#" alt="{{ recipe.name }} Photo">
                                {% else %}
                                <i class="fas fa-camera-retro fa-5x"></i>
                                {% endif %}
                            </div>
                            <div class="col-12 col-md-6">
                                <p class="card-text">
                                    Created by {{ recipe.created_by }}
                                </p>
                                <p class="card-text">
                                    Difficulty: {{ recipe.difficulty }}
                                </p>
                                <p class="card-text">
                                    Prep Time: {{ recipe.prep_time }}
                                </p>
                                <p class="card-text">
                                    Cook Time: {{ recipe.cook_time }}
                                </p>
                                <p class="card-text">
                                    Serves: {{ recipe.serves }}
                                </p>
                                <p class="card-text">
                                    {{ recipe.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-6">
                <div class="card light-back">
                    <div class="card-body">
                        <h3 class="card-title">Ingredients</h3>
                        <ul>
                            {% for ingredient in recipe.ingredients %}
                            <li>{{ ingredient }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-6">
                <div class="card light-back">
                    <div class="card-body">
                        <h3 class="card-title">Instructions</h3>
                        <ol>
                            {% for instruction in recipe.instructions %}
                            <li>{{ instruction }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}