{% extends "base.html" %}
{% block content %}

{% include 'navbar.html' %}

<main>
    <div class="container">
        <div class="row mb-2 mt-4 justify-content-center">
            <div class="col-11 col-md-12 card light-back mb-2 shadow-1-strong">
                <h2 class="text-center mb-4 card-header">Recipes</h2>
                <div class="row mb-2 justify-content-between">
                    <div class="mt-2 mb-2 col-12">
                        <form action="{{ url_for('search') }}" method="post" id="search">
                            <div class="form-outline">
                                <input type="text" id="query" name="query" class="form-control" required />
                                <label class="form-label" for="query">Search for Recipe e.g. Stir Fry</label>
                            </div>
                        </form>
                    </div>

                    <div class="mt-2 mb-2 col-12 col-md-8">
                        <button type="submit" form="search" class="btn dark-button d-inline">
                            Search
                        </button>
                        <a href="{{ url_for('allRecipes') }}" class="btn delete-button mt-2 mt-md-0">
                            Reset
                        </a>
                        <div class="dropdown d-inline">
                            <button class="btn dark-button dropdown-toggle mt-2 mt-md-0" type="button"
                                id="difficultybutton" data-mdb-toggle="dropdown" aria-expanded="false">
                                Difficulty
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="difficultybutton">
                                <li><a class="dropdown-item"
                                        href="{{ url_for('findRecipe', cuisine=cuisine, difficulty = 'easy') }}">Easy</a>
                                </li>
                                <li><a class="dropdown-item"
                                        href="{{ url_for('findRecipe', cuisine=cuisine, difficulty = 'medium') }}">Medium</a>
                                </li>
                                <li><a class="dropdown-item"
                                        href="{{ url_for('findRecipe', cuisine=cuisine, difficulty = 'hard') }}">Hard</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item"
                                        href="{{ url_for('findRecipe', cuisine=cuisine, difficulty = 'all') }}">All</a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown d-inline">
                            <button class="btn dark-button dropdown-toggle mt-2 mt-md-0" type="button"
                                id="cuisinebutton" data-mdb-toggle="dropdown" aria-expanded="false">
                                Cuisine
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="cuisinebutton">
                                {% for cuisine in cuisines %}
                                <li><a class="dropdown-item"
                                        href="{{ url_for('findRecipe', difficulty=difficulty, cuisine = cuisine.name) }}">{{ cuisine.name|capitalize }}</a>
                                </li>
                                {% endfor %}
                                <li><a class="dropdown-item"
                                        href="{{ url_for('findRecipe', difficulty=difficulty, cuisine = 'other') }}">Other</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item"
                                        href="{{ url_for('findRecipe', difficulty=difficulty, cuisine = 'all') }}">All</a>
                                </li>
                            </ul>
                        </div>
                        {% if session.user %}
                        <a href="{{ url_for('add_recipe') }}">
                            <button class="btn dark-button d-inline mt-2 mt-lg-0">
                                Add Recipe
                            </button>
                        </a>
                        {% endif %}
                    </div>
                    <!-- sort selector -->
                    <div class="custom-select mt-2 mb-2 col-12 col-md-4">
                        <select id="sort-selector" class="form-select">
                            <option value="Newer" {% if current_sorting == "Newer" %}selected{% endif %}>Default (Newest
                                First)
                            </option>
                            <option value="A-Z" {% if current_sorting == "A-Z" %}selected{% endif %}>A-Z</option>
                            <option value="Rating" {% if current_sorting == "Rating" %}selected{% endif %}>Rating (Top
                                Rated
                                First)
                            </option>
                            <option value="Older" {% if current_sorting == "Older" %}selected{% endif %}>Oldest First
                            </option>
                        </select>
                    </div>
                </div>
                <p class="text-center">Displaying: <strong>{% if cuisine != 'all' %}{{ cuisine|capitalize }},
                        {% endif %}{{ difficulty|capitalize }}</strong></p>
                {{ pagination.info }}
            </div>
        </div>

        {{ pagination.links }}

        <div class="row justify-content-center">
            {% if recipes|length > 0 %}
            {% for recipe in recipes %}

            <div class="col-11 col-md-12 card light-back mb-4 shadow-1-strong">
                <div class="card-body">
                    <div class="row">
                        {% if loop.index % 2 != 0 %}
                        <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}"
                            class="col-12 col-md-6 d-flex align-items-center justify-content-center mb-2">
                            {% if recipe.image %}
                            <div class="bg-image hover-zoom rounded">
                                <img src="{{ recipe.image }}" alt="{{ recipe.name }} Photo">
                            </div>
                            {% else %}
                            <i class="fas fa-camera-retro fa-5x"></i>
                            {% endif %}
                        </a>
                        <div class="col-12 col-md-6 mt-4 mb-2">
                            <h3 class="card-title mb-2 mb-md-2">{{ recipe.name }}</h3>
                            <p class="card-text dark-green-letters">
                                Created by {{ recipe.created_by }}
                            </p>
                            <p class="card-text">
                                {% if recipe.avgrating == 1 %}
                                <i class="fas fa-star"></i>
                                {% elif recipe.avgrating == 2 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% elif recipe.avgrating == 3 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% elif recipe.avgrating == 4 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% elif recipe.avgrating == 5 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% else %}
                                <strong>No rating yet</strong>
                                {% endif %}
                            </p>
                            <p class="card-text text-muted">
                                <strong>Created on</strong> {{ recipe.date }} at {{ recipe.time }}
                            </p>
                            <p class="card-text">
                                {{ recipe.description }}
                            </p>
                            <p class="card-text">
                                <strong>Cuisine:</strong> {{ recipe.cuisine|capitalize }}
                            </p>
                            <p class="card-text">
                                <strong>Difficulty:</strong> {{ recipe.difficulty }}
                            </p>
                            <p class="card-text">
                                <strong>Prep Time:</strong> {{ recipe.prep_time }} minutes
                            </p>
                            <p class="card-text">
                                <strong>Cook Time:</strong> {{ recipe.cook_time }} minutes
                            </p>
                            <p class="card-text">
                                <strong>Serves:</strong> {{ recipe.serves }}
                                {% if recipe.serves == 1 %}person{% else %}people{% endif %}
                            </p>
                        </div>
                        {% else %}
                        <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}"
                            class="col-12 col-md-6 order-md-2 d-flex align-items-center justify-content-center mb-2">
                            {% if recipe.image %}
                            <div class="bg-image hover-zoom rounded">
                                <img src="{{ recipe.image }}" alt="{{ recipe.name }} Photo">
                            </div>
                            {% else %}
                            <i class="fas fa-camera-retro fa-5x"></i>
                            {% endif %}
                        </a>
                        <div class="col-12 col-md-6 order-md-1 mt-4 mb-2">
                            <h3 class="card-title mb-2 mb-md-2">{{ recipe.name }}</h3>
                            <p class="card-text dark-green-letters">
                                Created by {{ recipe.created_by }}
                            </p>
                            <p class="card-text">
                                {% if recipe.avgrating == 1 %}
                                <i class="fas fa-star"></i>
                                {% elif recipe.avgrating == 2 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% elif recipe.avgrating == 3 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% elif recipe.avgrating == 4 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% elif recipe.avgrating == 5 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% else %}
                                <strong>No rating yet</strong>
                                {% endif %}
                            </p>
                            <p class="card-text text-muted">
                                <strong>Created on</strong> {{ recipe.date }} at {{ recipe.time }}
                            </p>
                            <p class="card-text">
                                {{ recipe.description }}
                            </p>
                            <p class="card-text">
                                <strong>Cuisine:</strong> {{ recipe.cuisine|capitalize }}
                            </p>
                            <p class="card-text">
                                <strong>Difficulty:</strong> {{ recipe.difficulty }}
                            </p>
                            <p class="card-text">
                                <strong>Prep Time:</strong> {{ recipe.prep_time }} minutes
                            </p>
                            <p class="card-text">
                                <strong>Cook Time:</strong> {{ recipe.cook_time }} minutes
                            </p>
                            <p class="card-text">
                                <strong>Serves:</strong> {{ recipe.serves }}
                                {% if recipe.serves == 1 %}person{% else %}people{% endif %}
                            </p>
                        </div>
                        {% endif %}
                        {% if session.user|lower == recipe.created_by|lower or session.user == "admin" %}
                        <div class="col-12 order-md-3">
                            <div class="row justify-content-between mt-2 mb-2">
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                                    class="col-5 col-md-3 btn dark-button">Edit</a>
                                <button class="col-5 col-md-3 btn delete-button" data-mdb-toggle="modal"
                                    data-mdb-target="#deletemodal{{ recipe._id }}">Delete</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="deletemodal{{ recipe._id }}" tabindex="-1"
                                aria-labelledby="deletemodalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <p class="text-center mb-0">Are you sure you want to delete this recipe?
                                            </p>
                                        </div>
                                        <div class="modal-footer justify-content-center">
                                            <button type="button" class="btn dark-button" data-mdb-dismiss="modal">
                                                Cancel
                                            </button>
                                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" type="button"
                                                class="btn delete-button">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-12 order-md-4">
                            <div class="row justify-content-center">
                                <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}"
                                    class="col-12 btn dark-button mt-2">View Recipe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
            {{ pagination.links }}
            {% else %}
            <h3 class="text-center">No Results Found</h3>
            {% endif %}
        </div>
    </div>

</main>

<script type="text/javascript">
    // sort functionality copied and adapted from Code Institute video
    // https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+FSF_102+Q1_2020/courseware/4201818c00aa4ba3a0dae243725f6e32/252883608f734d96ac352ca483451968/?child=first
    $(document).ready(function () {
        $("#sort-selector").change(function () {
            let selector = $(this);
            let currentUrl = new URL(window.location);
            let sort = selector.val();
            currentUrl.searchParams.set("sort", sort);
            window.location.replace(currentUrl);
        })
    });
</script>
{% endblock %}