{% extends "base.html" %}
{% block content %}

<h2 class="text-center">Register</h2>

<div class="row mt-5">
    <form class="col-8 mx-auto" method="POST" action="{{ url_for('register') }}">
        <div class="card">
            <div class="form-outline mb-4">
                <input type="text" id="fname" name="fname" class="form-control" />
                <label class="form-label" for="fname">First Name</label>
            </div>
            <div class="form-outline mb-4">
                <input type="text" id="lname" name="lname" class="form-control" />
                <label class="form-label" for="lname">Last Name</label>
            </div>
            <div class="form-outline mb-4">
                <input type="email" id="email" name="email" class="form-control" />
                <label class="form-label" for="email">Email Address</label>
            </div>
            <div class="form-outline mb-4">
                <input type="text" id="username" name="username" class="form-control" />
                <label class="form-label" for="username">Username</label>
            </div>
            <div class="form-outline mb-4">
                <input type="password" id="password" name="password" class="form-control" />
                <label class="form-label" for="password">Password</label>
            </div>
            <div class="form-outline mb-4">
                <input type="password" id="passwordconfirm" name="passwordconfirm" class="form-control" />
                <label class="form-label" for="passwordconfirm">Confirm</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
    </form>
</div>

{% endblock %}